.git
.next
**/.next
node_modules
**/node_modules
archive
blender
docs/design-references
public/bovist
public/givewell
public/sitasys
public/soma
v2
v3
v4
v5
v6
roosa-toilet-roll-prototype
roosa-toilet-roll-prototypeV2
*.tsbuildinfo
*.log

